# Coloque aqui as credencias de acesso ao seu banco
DB_USER=A12542672
DB_PASSWORD=B12542672

# O nome do data source para acessar o banco
# No formato "host<:porta>/nome_servico"
DB_DATA_SOURCE=orclgrad1.icmc.usp.br:1521/pdb_elaine.icmc.usp.br
